---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseBody from '../components/BaseBody.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const tilPosts = (await getCollection('til')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <BaseBody>
    <Header />
    <main class="pt-10">
      <div class="">
        <h1>
          <span class="text-shadow-sm text-shadow-primary">Eric Schaefer</span>
          <span class="font-normal text-3xl"
            >is a software engineer in Berlin.</span
          >
        </h1>
      </div>

      <div class="mt-20">
        <div>
          <h2>Posts</h2>
          <ul class="p-0 grid sm:grid-cols-[max-content_1fr] sm:gap-x-2">
            {
              posts.map((post) => (
                <li class="sm:contents">
                  <span class="text-sm text-primary-content/70 flex flex-col justify-center">
                    {post.data.pubDate.toLocaleDateString('en-US', {
                      year: 'numeric',
                      month: '2-digit',
                      day: 'numeric',
                    })}
                  </span>
                  <a class="sm:truncate" href={`/blog/${post.id}/`}>
                    {post.data.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div>
          <h2>Today I Learned</h2>
          <ul class="p-0 grid md:grid-cols-[max-content_1fr] md:gap-x-2">
            {
              tilPosts.map((post) => (
                <li class="sm:contents">
                  <span class="text-sm text-primary-content/70 flex flex-col justify-center">
                    {post.data.pubDate.toLocaleDateString('en-US', {
                      year: 'numeric',
                      month: '2-digit',
                      day: 'numeric',
                    })}
                  </span>
                  <a class="md:truncate" href={`/til/${post.id}/`}>
                    {post.data.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </main>
  </BaseBody>
</html>
